.card my-3 mx-auto {
        margin-top: 10px;
        padding: 10px;
        background-origin: padding-box;
        border: 10px;
        border-radius: 10px;
}

.container {
    background-color: aqua;
}